<div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= image_path "Arene.jpg" %>');">
  <div class="container">
    <br>
    <h2 class='text-center title'>Tous les personnages !</h2>
    <br>
    <div class="cards">
      <% @personnages.each do |personnage| %>
        <%#= link_to hero_path(hero) do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
            <div class="card-trip-infos">
              <h2><%= personnage.nom %></h2>
            </div>
          </div>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>
