.form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.new_personnage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
